<label class="control-label col-sm-4">{{DataObj.Label}}   </label>

<div class="col-sm-6">
    <ul class="theme-form-ul">
        <li class="checkbox-theme checkbox-color"  >
         
            <input id="sub-item-11"  class="styled"  checkvalidation ValidationObj="{{DataObj.UDFFieldsValidations}}"     ng-checked="CheckBoxValue(DataObj.Val1)"     ng-model="DataObj.Val1"   type="checkbox">

<!--          ng-if="DataObj.Val1=='true'"-->
            <!--ng-model="DataObj.Val1"--> <!--ng-checked="DataObj.Val1"--> 
           
            <label for="sub-item-11"></label>
                
        </li>
    </ul>
</div>
<div class="col-sm-2"></div>

