<label class="control-label col-sm-4">{{DataObj.Label}}</label>
<div class="col-sm-6">
    <div class="calendar-icon">
        {{DataObj.Val1}}
        <input class="form-control datepicker" type="text" readonly id="datepicker_{{DataObj.IDUDFDefinition}}"   ng-model="DataObj.Val1" data-date-format="yyyy-mm-dd" id="check-out" ng-click="BindCalenderData(this)" checkvalidation validationobj="{{DataObj.UDFFieldsValidations}}" />
    </div>



</div>






<!--ng-click="cancelFile(File,$index)-->
<div class="col-sm-2"></div>




