<div class="table-overflow spacer-top-20 spacer-bottom-20">
									<table class="table table-bordered table-striped">
										<thead>
											<tr>
												<th>Reference Documents</th>
												<th>Rev</th>
												<th>Title</th>
												<th>Comment</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>Reference Documents</td>
												<td>Rev</td>
												<td>Title</td>
												<td>Comment</td>
											</tr>
											<tr>
												<td>Reference Documents</td>
												<td>Rev</td>
												<td>Title</td>
												<td>Comment</td>
											</tr>
											<tr>
												<td>Reference Documents</td>
												<td>Rev</td>
												<td>Title</td>
												<td>Comment</td>
											</tr>
										</tbody>									
									</table>
								</div>


											<label class="control-label col-sm-4">Add Documents</label>
											<div class="col-sm-6">
												<a href="#" class="btn btn-theme btn-md">Upload Files</a>
											</div>
											<div class="col-sm-2"></div>
										