html, body{
    margin: 0px;
    padding: 0px;
    background-color: #EAEFF2;
    height: 100%;
    min-width: 900px;
}
a{
    text-decoration: none;
    color: inherit;
}
img {text-decoration: none; border: 0px}
::selection {color:#434345;background:#EAEFF2;}
::-moz-selection {color:#434345;background:#EAEFF2;}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -180px;
}
#whiteBackground{
    background-color: #fff;
    height: 100%;
    position: absolute;
    margin-left: 30%;
    width: 70%;
}
.navBar{
    padding-left: 4%;
    height: 52px;
    background-color: white;
}
.navBar #logo{
    padding-top: 18px;
    position: absolute;
}
#logo img{
    height: 15px;
}
.navBar ul{
    margin: 0px;
    margin-right: 4%;
    padding-right: 18px;
    padding-top: 20px;
}
.navBar ul li{
    list-style: none;
    display: inline-block;
    float: right;
    margin-right: 4%;
    font-family: BrandonGrotesque-Regular;
	font-weight: normal;
	font-style: normal;
    font-size: 11px;
    letter-spacing: 1px;
    color: #434345;
}
.navBar ul li a:hover{
    color: #F3797F;
    cursor: pointer;
}
.menu{
    position: absolute;
    -o-transition:.1s;
    -ms-transition:.1s;
    -moz-transition:.1s;
    -webkit-transition:.1s;
    transition:.1s;
}
.sb-toggle-right{
    cursor: pointer;
}
.sb-close a{
    cursor: pointer;
}
.slideMenu{
    -moz-box-shadow: 0 0 8px .1px #999;
    -webkit-box-shadow: 0 0 8px .1px #999;
}
.slideMenu li{
    text-decoration: none;
    font-family: BrandonGrotesque-Regular;
	font-weight: normal;
	font-style: normal;
    color: #434345;
    font-size: 20px;
    list-style-type: none;
    line-height: 160%;
    -o-transition:.1s;
    -ms-transition:.1s;
    -moz-transition:.1s;
    -webkit-transition:.1s;
    transition:.1s;
}
.slideMenu a:hover {
    color: #F3797F;
}
.slideMenu li a{
    text-decoration: none;
    color: #434345;
}
.slideMenu #x{
    font-size: 32px;
    font-family: BrandonGrotesque-Thin;
	font-weight: normal;
	font-style: normal;
    margin-top: -3px;
}
.slideMenu #x strong{
    cursor: pointer;
}
#notifications{
    width: 176px;
    padding: 10px;
}
#notifications span{
    color: #F3797F;
}
#notifications li{
    font-family: BrandonGrotesque-LightItalic;
	font-weight: normal;
	font-style: normal;
    font-size: 16px;
    line-height: 120%;
    margin-bottom: 10px;
}
.slideMenu #shortNotifications{
    padding: 10px;

    height:130px;
    width:247px;
}
.slideMenu #shortNotifications span{
    color: #F3797F;
}
.slideMenu #shortNotifications li{
    font-family: BrandonGrotesque-LightItalic;
	font-weight: normal;
	font-style: normal;
    font-size: 16px;
    line-height: 120%;
    margin-bottom: 16px;
}
.slideMenu #small{
    font-family: BrandonGrotesque-Regular;
	font-weight: normal;
	font-style: normal;
    font-size: 11px;
    padding-top: 5px;
}
.menu{
    top:16px;
    right: 4%;
}
.menu img{
    height: 16px;
}
.menu img:hover{
    opacity: 1;
}
.menu ul{
    text-decoration: none;
    text-align: right;
    background: #434345;
    font-family: BrandonGrotesque-Medium;
	font-weight: normal;
	font-style: normal;
    letter-spacing: 1px;
    color: white;
    opacity: .8;
    font-size: 18px;
}
.menu ul:hover{
    opacity: 1;
}
.menu ul li{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding-top: 6px;
    margin-top: 2px
    opacity: 1;
    padding-right: 4px;
    padding-left: 4px;
}
.menu ul li:hover{
    background-color: white;
    color: #434345;
}
#content{
    margin-left: 4%;
    margin-right: 4%;
}
a{
    text-decoration: none;
}
h6{
    font-family: BrandonGrotesque-RegularItalic;
	font-weight: normal;
	font-style: normal;
    font-size: 20px;
    -o-transition:.1s;
    -ms-transition:.1s;
    -moz-transition:.1s;
    -webkit-transition:.1s;
    transition:.1s;
    margin-top: 10px;
    color: #434345;
    opacity: .8;
    margin-bottom: 0px;
}
h6:hover{
    color: #F3797F;
}
#name h2{
    font-size: 30px;
    line-height: 100%;
}
h1{
    font-family: BrandonGrotesque-MediumItalic;
	font-weight: normal;
	font-style: normal;
    font-size: 38px;
    color: #F3797F;
    line-height: 120%;
    margin-bottom: 0px;
}
h1 span{
    font-family: BrandonGrotesque-LightItalic;
	font-weight: normal;
	font-style: normal;
    color: #434345;
    opacity: .8;
    padding-top: 4px;
}
h2{
    font-family: BrandonGrotesque-Regular;
	font-weight: normal;
	font-style: normal;
    font-size: 32px;
    color: #434345;
    margin-top: 14px;
    margin-bottom:0;
    line-height: 120%;
}
h2 span{
    font-family: BrandonGrotesque-LightItalic
}
dt{
    font-family: BrandonGrotesque-RegularItalic;
	font-weight: normal;
	font-style: normal;
    color: #434345;
    opacity: .6;
    line-height: 0px;
}
dd{
    font-family: BrandonGrotesque-Regular;
	font-weight: normal;
	font-style: normal;
    color: #434345;
    line-height: 0px;
}
#description{
    line-height: 140%;
}

h3{
    font-family: BrandonGrotesque-Medium;
	font-weight: normal;
	font-style: normal;
    font-size: 26px;
    color: #F3797F;
    margin-bottom:0;
    margin-top:10px;
    color: #F3797F;
}
h3 span{
    font-family: BrandonGrotesque-Bold;
	font-weight: normal;
	font-style: normal;
    font-size: 14px;
    letter-spacing: .6px;
    color: #434345;
    opacity: .8;
    padding-top: 4px;
}
h4{
    font-family: BrandonGrotesque-Bold;
	font-weight: normal;
	font-style: normal;
    font-size: 14px;
    letter-spacing: 1px;
    color: #434345;
    opacity:.6;
    -o-transition:.1s;
    -ms-transition:.1s;
    -moz-transition:.1s;
    -webkit-transition:.1s;
    transition:.1s;
    display: inline-block;
    margin-top: 0px;
    padding-bottom: 4px;
}
h4 #formLink a{
    padding-top: 6px;
    padding-bottom: 6px;
    opacity: .4;
    -o-transition:.1s;
    -ms-transition:.1s;
    -moz-transition:.1s;
    -webkit-transition:.1s;
    transition:.1s;
}
h4 #formLink a:hover{
    opacity: 1;
    color: #F3797F;
}
h5{
    font-family: BrandonGrotesque-RegularItalic;
	font-weight: normal;
	font-style: normal;
    color: #434345;
    font-size: 16px;
    margin-top: 16px;
    margin-bottom: 0px;
}
h5 span{
    font-family: BrandonGrotesque-LightItalic;
}
h5 a:hover{
    color: #F3797F;
}
h5 img{
    height: 10px;
}
#status{
    font-family: BrandonGrotesque-LightItalic;
	font-weight: normal;
	font-style: normal;
    font-size: 26px;
    color: #434345;
    margin-top: 4px;
    padding-bottom: 4px;
    line-height: 120%;
}
#selectedHeader a{
    color: #434345;
    opacity: .4;
    -o-transition:.1s;
    -ms-transition:.1s;
    -moz-transition:.1s;
    -webkit-transition:.1s;
    transition:.1s;
}
#selectedHeader a:hover{
    opacity: 1;
    color: #F3797F;
}
form select{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
form input,select {
    border: 0px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    height: 34px;
    margin-top: 4px;
    font-size: 30px;
    font-family: BrandonGrotesque-LightItalic;
	font-weight: normal;
	font-style: normal;
    padding-left: 12px;
    color: #434345;
    outline: none;
    width: 90%;
}
form #submit{
    border: 0px;
    padding-left: 16px;
    padding-right: 14px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    height: 35px;
    width: auto;
    margin-top: 14px;
    font-size: 24px;
    font-family: BrandonGrotesque-MediumItalic;
	font-weight: normal;
	font-style: normal;
    outline: none;
    color: white;
    background-color: #F3797F;
    -o-transition:.1s;
    -ms-transition:.1s;
    -moz-transition:.1s;
    -webkit-transition:.1s;
    transition:.1s;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
form #post{
    border: 0px;
    padding-left: 16px;
    padding-right: 14px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    height: 35px;
    width: auto;
    margin-top: 14px;
    font-size: 24px;
    font-family: BrandonGrotesque-MediumItalic;
	font-weight: normal;
	font-style: normal;
    outline: none;
    color: white;
    background-color: #F3797F;
    -o-transition:.1s;
    -ms-transition:.1s;
    -moz-transition:.1s;
    -webkit-transition:.1s;
    transition:.1s;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
form #submit:hover, form #post:hover{
    opacity: .8;
}
form #jobPosts{
    padding-bottom: 0px;
}
textarea{
    height: 125px;
    min-height: 125px;
    max-height: 200px;
    max-width: 94%;
    border: 0px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    height: 44px;
    margin-top: 4px;
    font-size: 32px;
    font-family: BrandonGrotesque-LightItalic;
	font-weight: normal;
	font-style: normal;
    padding-left: 12px;
    color: #434345;
    outline: none;
}
#searchResults ul{
    padding: 0px
}
#searchResults ul li{
    list-style: none;
    font-family: BrandonGrotesque-MediumItalic;
	font-weight: normal;
	font-style: normal;
    font-size: 28px;
    color: #434345;
    line-height: 110%;
    opacity: .8;
    padding-top: 2px;
}
#searchResults ul li span{
    font-family: BrandonGrotesque-LightItalic;
	font-weight: normal;
	font-style: normal;
}
#searchResults h4{
    font-size: 11px;
}
#searchResults h4:hover{
    color: #F3797F;
    opacity: 1;
}
.scrollList{
    background-color: white;
    /*height: 110px;*/
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    overflow: auto;
    margin-top: 2px;
}
.scrollList button{
    border: 1px solid;
    padding-left: 16px;
    padding-right: 14px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    height: 20px;
    width: auto;
    margin-right: 4px;
    font-size: 13px;
    font-family: BrandonGrotesque-RegularItalic;
	font-weight: normal;
	font-style: normal;
    color: #434345;
    border-color: #434345;
    background-color: inherit;
    -o-transition:.1s;
    -ms-transition:.1s;
    -moz-transition:.1s;
    -webkit-transition:.1s;
    transition:.1s;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.scrollList button:hover{
    background-color: #434345;
    color: white;
    border-color: white;
}
.scrollList h6{
    margin-left: 16px;
}
#medList{
    height: 248px;
}
#tallList{
    height: 320px;
}
.scrollList ul{
    padding: 3px;
    margin: 0;
}
.scrollList ul li{
    list-style: none;
    padding-left: 14px;
    padding-top: 5px;
    font-family: BrandonGrotesque-MediumItalic;
	font-weight: normal;
	font-style: normal;
    font-size: 24px;
    margin-right: 8px;
    margin-bottom: 14px;
    color: #434345;
    opacity: .8;
    line-height: 140%;
}
.scrollList ul li span{
    font-family: BrandonGrotesque-LightItalic;
	font-weight: normal;
	font-style: normal;
}
.scrollList ul li:hover{
    opacity: 1;
}
#clipBoard{
    padding: 10px;
    height: 300px;
}
#clipBoard span{
    color: #F3797F;
}
#clipBoard li{
    font-family: BrandonGrotesque-LightItalic;
	font-weight: normal;
	font-style: normal;
    font-size: 16px;
    line-height: 120%;
    margin-bottom: 10px;
    list-style: none;
}
#clipBoard button{
    opacity: .4;
}
#clipBoard button:hover{
    background-color: white;
    color: #434345;
    border-color: #434345;
}
#clipBoard h6{
    margin: 0;
    font-size: 14px;
} 
#clipBoardText{
    width: 100%;
    font-size: 20px;
}
#greyTextArea textarea{
    background-color: #EAEFF2;
}
#connections{
    background-color: #EAEFF2;
    margin-top: 4px;
    /*height: 200px;*/
}
#connections li{
    font-family: BrandonGrotesque-LightItalic;
	font-size: 25px;
    line-height: 120%;
}
#connections img{
    background-color: #434345;
    height: 50px;
    width: 60px;
}
#connections #smaller{
    width: 40%;
    max-width: 80px;
    display: inline-block;
}
#connections #bigger{
    width: 60%;
    display: inline-block
}
#recRequest{
    background-color: #EAEFF2;
    margin-top: 4px;
    height: 200px;
}
#recRequest li{
    font-family: BrandonGrotesque-LightItalic;
	font-size: 25px;
    line-height: 120%;
}
#recRequest img{
    background-color: #434345;
    height: 50px;
    width: 60px;
}
#recRequest #smaller{
    width: 40%;
    max-width: 80px;
    display: inline-block;
}
#recRequest #bigger{
    width: 60%;
    display: inline-block
}
#recommendations{
    background-color: #EAEFF2;
    margin-top: 4px;
    height: 300px;
}
#recommendations li{
    line-height: 120%;
    opacity: .8;
}
#recommendations p{
    line-height: 140%;
}
#recommendations span{
    font-family: BrandonGrotesque-RegularItalic;
    font-size: 18px;
}
#recommendations li:hover{
    background-color: #EAEFF2;
    opacity: .8;
}
#staff{
    background-color: #EAEFF2;
    margin-top: 4px;
    height: 200px;
}
#staff li{
    line-height: 120%;
    opacity: .8;
    font-size: 24px;
}
#staff span{
    font-family: BrandonGrotesque-LightItalic;
    font-size: 24px;
}
#staff li:hover{
    background-color: #EAEFF2;
    opacity: 1;
    color: #F3797F;
}
#brandMark img{
    position: absolute;
    height: 17px;
    padding-top: 1px;
}
.mainPic{
    height: 180px;
    width: 220px;
    margin-top: 10px;
    background-color: #434345;
}
button{
    font-size: 14px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    background-color: #F3797F;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    font-family: BrandonGrotesque-LightItalic;
	font-weight: normal;
	font-style: normal;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    height: 20px;
    width: auto;
    margin-top: 4px;
    -o-transition:.1s;
    -ms-transition:.1s;
    -moz-transition:.1s;
    -webkit-transition:.1s;
    transition:.1s;
}
button:hover{
    opacity: .6;
}
.scrollPic{
    height: 60px;
    padding: 5px;
    background-color: white;
    margin-top: 20px;
    width: 210px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space:nowrap
}
.scrollPic img{
    height: 50px;
    width: 50px;
    margin: 5px;
    background-color: #434345;
}
#mainContent{
    height:100%;
    overflow: auto;
    margin-left: 6%;
    margin-top: 3px
}
#connectionsSearch input{
    font-size: 16px;
    background-color: #EAEFF2;
    height: 32px;
    padding-top: 4px;
    width: 100%;
}
#connectionsSearch button{
    font-size: 14px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    background-color: #F3797F;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    font-family: BrandonGrotesque-LightItalic;
	font-weight: normal;
	font-style: normal;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    height: 20px;
    width: auto;
    margin-top: 4px;
    -o-transition:.1s;
    -ms-transition:.1s;
    -moz-transition:.1s;
    -webkit-transition:.1s;
    transition:.1s;
}
#connectionsSearch button:hover{
    opacity: .6;
}
#scrollArea h4{
    margin-bottom: 0;
}
#scrollArea h2{
    margin-top: 28px;
}
#scrollArea h2 span{
    font-family: BrandonGrotesque-Light;
}
#scrollArea p{
    font-family: BrandonGrotesque-Light;
	font-weight: normal;
	font-style: normal;
    margin-top: 0px;
    color: #434345;
    font-size: 16px;
}
.blog{
    margin-top: 10px;
    padding-bottom: 8px;
    margin-bottom: 30px;
}
.status textarea{
    width: 100%;
    background-color: #EAEFF2;
    font-size: 18px;
    font-family: BrandonGrotesque-Light;
    padding-top: 8px;
}
.blog textarea{
    width: 100%;
    background-color: #EAEFF2;
    font-size: 18px;
    font-family: BrandonGrotesque-Light;
    padding-top: 8px;
}
.blog p{
    padding-right: 40px;
}
.blog #image{
    display: inline-block;
    width: 80px;
}
.blog #image img{
    background-color: #434345;
    height: 50px;
    width: 60px;
}
.blog #name{
    display: inline-block;
    font-family: BrandonGrotesque-Regular;
	font-weight: normal;
	font-style: normal;
    font-size: 25px;
    color: #434345;
    line-height: 120%;
}
.blog span{
    opacity: .4;
    border: 1px solid;
    padding-left: 16px;
    padding-right: 14px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    height: 20px;
    width: auto;
    margin-right: 4px;
    font-size: 13px;
    font-family: BrandonGrotesque-RegularItalic;
	font-weight: normal;
	font-style: normal;
    color: #434345;
    border-color: #434345;
    padding-top: 4px;
    padding-bottom: 1px;
}
#details{
    line-height: 140%;
}
#details h4{
    margin-bottom: 0;
}
#details button{
    border: 1px solid;
    padding-left: 16px;
    padding-right: 14px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    height: 20px;
    width: auto;
    margin-right: 4px;
    font-size: 13px;
    font-family: BrandonGrotesque-RegularItalic;
	font-weight: normal;
	font-style: normal;
    color: #434345;
    border-color: #434345;
    background-color: #EAEFF2;
    -o-transition:.1s;
    -ms-transition:.1s;
    -moz-transition:.1s;
    -webkit-transition:.1s;
    transition:.1s;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
#details button:hover{
    opacity: 1;
}
#footer{
    height: 180px;
    background-color: #434345;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 20px;
}
h8{
    color: #EAEFF2;
    font-family: BrandonGrotesque-Light;
	font-weight: normal;
	font-style: normal;
    font-size: 22px;
}
h9{
    color: #EAEFF2;
    font-family: BrandonGrotesque-Medium;
	font-weight: normal;
	font-style: normal;
    font-size: 10px;
    letter-spacing: 2px;
    margin-bottom: 0px;
}
#footer ul{
    margin-top: 6px;
    margin-bottom: 0px;
    list-style: none;
    padding-left: 0px;
    font-family: BrandonGrotesque-Light;
	font-weight: normal;
	font-style: normal;
    font-size: 15px;
    color: #EAEFF2;
}
#footer ul li{
    opacity: .8;
    -o-transition:.1s;
    -ms-transition:.1s;
    -moz-transition:.1s;
    -webkit-transition:.1s;
    transition:.1s;
}
#footer ul li:hover{
    opacity: 1;
}
.push {
    height: 180px;
}
/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.4%;
    padding-bottom: 20px;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF EIGHT  */
.span_8_of_8 {
	width: 100%;
}

.span_7_of_8 {
  	width: 87.32%;
}

.span_6_of_8 {
  	width: 74.65%;
}

.span_5_of_8 {
  	width: 61.97%;
}

.span_4_of_8 {
  	width: 49.3%;
}

.span_3_of_8 {
  	width: 36.62%;
}

.span_2_of_8 {
  	width: 23.95%;
}

.span_1_of_8 {
  	width: 11.27%;
}
#errorMessages{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    font-family: BrandonGrotesque-Regular;
	font-weight: normal;
	font-style: normal;
    color: #F3797F;
}
